
body {
    background-color: #1e1e2e;
    font-family: monospace;
}

.container {
    width: 750px;
    margin: auto auto;
}

.lang {
    text-align: center;
}

.socials {
    text-align: center;
}

.contacts {
    text-align: center;
}

.social:hover {
    transform: scale(1.2);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social:not(:hover) {
    transform: scale(1);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lang:hover {
    transform: scale(1.2);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lang:not(:hover) {
    transform: scale(1);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social {
    color: #bac2de;
    font-size: 24px;
}

.lang {
    color: #bac2de;
    font-size: 24px;
}

h2 {
    color: #cdd6f4;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: #cdd6f4;
    text-align: center;
    font-size: 40px;
}

h5 {
    color: #cdd6f4;
    font-size: 12px;
}

p {
    color: #bac2de;
    text-align: center;
    font-size: 24px;
}

.node {
    filter: invert(59%) sepia(34%) saturate(491%) hue-rotate(68deg) brightness(90%) contrast(85%);
}

#discord {
    filter: brightness(0) saturate(100%) invert(55%) sepia(13%) saturate(1571%) hue-rotate(190deg) brightness(94%) contrast(100%);;
}

#bsky {
    border-radius: 16px;
}
